@import '../../index.scss';

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: $mainBlack;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  z-index: 1000;
}

.nav-links {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-left: 6rem;
}
.nav-link {
  color: $mainGrey;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s linear;
  &:hover {
    color: $mainGreen;
  }
}
.active {
  color: $mainGreen;
  &:hover {
    color: $mainWhite;
  }
}

@media screen and (max-width: 370px) {
  .nav-links {
    margin-left: 1rems;
  }
  .nav-link {
    margin-left: 0.5rems;
  }
}
